In [179]:
#Residual Returns (beta adjusted returns)

In [180]:
import numpy as np
import pandas as pd
from datetime import datetime 
from pandas_datareader import data
import statistics

In [181]:
pd.set_option('display.precision', 4)

In [182]:
def get_start_dt(dt_, offset_days_=260):
    offset = pd.tseries.offsets.BusinessDay(n=offset_days_)
    out_dt = dt_ - offset
    return out_dt.date()

In [183]:
beta = lambda s_ret, indx_ret, range_end_dt: np.cov(s_ret.loc[:range_end_dt], indx_ret.loc[:range_end_dt])[0, 1] / \
                                             np.cov(s_ret.loc[:range_end_dt], indx_ret.loc[:range_end_dt])[1, 1]

In [184]:
res_returns = lambda tkr: ret_df[tkr].subtract(risk_free_rate) - betas[tkr] * (ret_df['SPY'].subtract(risk_free_rate))

In [200]:
def compute_residual_rets (tkr_list_HL):
    r = [res_returns(tkr) for tkr in tkr_list_HL]
    rd = pd.DataFrame(r).T
    rd.columns = tkr_list_HL
    return rd

In [201]:
tickers_file = 'utilities tickers Texas Freeze.xlsx'
ticker = pd.read_excel(tickers_file, index_col='ticker')
ticker

                                     name
ticker
AEP               American Electric Power
CNP              CenterPoint Energy, Inc.
JENGQ             Just Energy Group, Inc.
NRG                     NRG Energy, Inc.
DUK              Duke Energy Corporation
MQG.AX                Macquarie Group Ltd
VST                           Vistra Corp
ATO             Atmos Energy Corporation
AQN     Algonquin Power & Utilities Corp.

In [202]:
tkr_list_HL = list(ticker.index)

In [203]:
tkr_list_HL

['AEP', 'CNP', 'JENGQ', 'NRG', 'DUK', 'MQG.AX', 'VST', 'ATO', 'AQN']

stocks = list(ticker.reset_index().T.to_dict().values())
stocks

#stocks = [
    {
        'ticker': 'XOM',
        'name': 'Exxon'
    },
    {
        'ticker': 'CVX',
        'name': 'Chevron'
    },
    {
        'ticker': 'OXY',
        'name': 'Occidental'
    },
    {
        'ticker': 'COP',
        'name': 'ConocoPhillips'
    },
    {
        'ticker': 'EOG',
        'name': 'EOG Resources Group'
    },
    {
        'ticker': 'PXD',
        'name': 'Pioneer Natural Resources'
    },
     {
        'ticker': 'MPC',
        'name': 'Marathon Petroleum'
    },
    {
        'ticker': 'SLB',
        'name': 'Schlumberger Limited'
    },
    {
        'ticker': 'VLO',
        'name': 'Valero Energy Corporation'
    },
    {
        'ticker': 'PSX',
        'name': 'Philips 66'
    },
    {
        'ticker': 'WMB',
        'name': 'The Williams Companies Inc'
    },
    {
        'ticker': 'DVN',
        'name': 'Devon Energy'
    },
    {
        'ticker': 'KMI',
        'name': 'Kinder Morgan Inc'
    },
    {
        'ticker': 'HES',
        'name': 'HESS Corporation'
    },
    {
        'ticker': 'OKE',
        'name': 'ONEOK INC'
    },
     {
        'ticker': 'HAL',
        'name': 'Halliburton Company'
    },
    {
        'ticker': 'CTRA',
        'name': 'Coterra Energy'
    },
    {
        'ticker': 'BKR',
        'name': 'Baker Hughes Company'
    },
    {
        'ticker': 'FANG',
        'name': 'Diamondback Energy Inc'
    },
    {
        'ticker': 'MRO',
        'name': 'Marathon Oil Corporation'
    },
    {
        'ticker': 'APA',
        'name': 'APA Corporation'
    },
    {
        'ticker': 'EQT',
        'name': 'EQT Corp'
    }
]

stocks_df = pd.DataFrame(stocks)
stocks_df.set_index('ticker', inplace=True)
tkr_list = list(stocks_df.index)

tkr_list

In [204]:
crisis_dt = datetime(2021, 2, 10)
end_dt = datetime(2021, 2, 27)
start_dt = get_start_dt(end_dt, offset_days_=260)

In [205]:
cl_df = data.DataReader(['SPY'] + tkr_list_HL, start=start_dt, end=end_dt, data_source='yahoo')['Adj Close']

In [206]:
cl_df

Symbols,SPY,AEP,CNP,JENGQ,NRG,DUK,MQG.AX,VST,ATO,AQN
Date,,,,,,,,,,
2020-03-01,NaN,NaN,NaN,NaN,NaN,NaN,123.5617,NaN,NaN,NaN
2020-03-02,297.2210,87.3444,22.2369,33.00,31.3058,87.4634,125.3691,18.6370,101.3213,13.9612
2020-03-03,288.7108,87.6751,21.6283,29.70,30.5087,86.5044,122.5843,18.7388,100.0535,14.3098
2020-03-04,300.8462,91.6891,22.3024,30.69,32.4785,91.9691,126.8168,19.4791,106.0263,14.8460
2020-03-05,290.8456,90.7430,21.2257,30.69,31.4707,90.5939,121.6530,19.0997,104.3641,14.8103
...,...,...,...,...,...,...,...,...,...,...
2021-02-22,379.1183,72.9924,19.9368,3.96,35.0148,83.4844,140.5407,21.9818,86.0549,15.3715
2021-02-23,379.5787,74.2475,20.0429,3.56,36.3243,84.1364,139.1483,22.2966,86.2666,15.2408
2021-02-24,383.7614,73.3062,20.0718,3.70,36.4571,82.5300,137.6517,22.7257,85.3427,15.1007
2021-02-25,374.5143,72.5455,19.0494,3.46,35.6505,82.3221,134.9615,21.7053,84.9192,14.8392
2021-02-26,372.5846,71.1669,18.7504,3.94,34.6447,80.8764,NaN,16.4506,81.4350,14.4376

cl_df = data.DataReader(['SPY'] + ['EOG', 'COP'], start=start_dt, end=end_dt, data_source='yahoo')['Adj Close']

In [207]:
ret_df = cl_df.div(cl_df.shift(1)) - 1.0 
ret_df.dropna(inplace=True)
index_return = ret_df['SPY']
index_var = np.var(ret_df['SPY'])

In [208]:
betas = ret_df[tkr_list_HL].apply(beta, axis=0, indx_ret= ret_df['SPY'], range_end_dt=crisis_dt)

In [209]:
treasury_3_mo = 2.943/100
risk_free_rate = treasury_3_mo/90

In [210]:
residual_return_df = compute_residual_rets(tkr_list_HL)

In [211]:
residual_return_df

,AEP,CNP,JENGQ,NRG,DUK,MQG.AX,VST,ATO,AQN
Date,,,,,,,,,
2020-03-03,0.0260,0.0119,-0.0561,0.0068,0.0174,-0.0179,0.0380,0.0114,0.0526
2020-03-04,0.0130,-0.0262,-0.0307,0.0172,0.0215,0.0276,-0.0082,0.0244,-0.0031
2020-03-05,0.0155,-0.0027,0.0510,0.0065,0.0180,-0.0357,0.0183,0.0121,0.0297
2020-03-10,-0.0428,-0.0329,-0.1337,0.0154,-0.0463,-0.0531,-0.0093,-0.0405,-0.0768
2020-03-11,-0.0149,0.0107,0.0167,-0.0177,0.0051,-0.0680,-0.0248,0.0163,-0.0122
...,...,...,...,...,...,...,...,...,...
2021-02-17,0.0036,0.0068,-0.0682,-0.0204,0.0090,-0.0011,0.0043,0.0140,-0.0100
2021-02-18,0.0286,0.0185,-0.0281,-0.0422,0.0079,-0.0223,0.0567,0.0171,0.0070
2021-02-23,0.0162,0.0038,-0.1027,0.0361,0.0066,-0.0104,0.0130,0.0014,-0.0097
2021-02-24,-0.0213,-0.0135,0.0227,-0.0087,-0.0300,-0.0128,0.0068,-0.0200,-0.0198
2021-02-25,0.0083,-0.0179,-0.0279,0.0051,0.0214,-0.0160,-0.0175,0.0152,0.0059

In [212]:
max_by_columns = residual_return_df.max()
max_by_rows = residual_return_df.max(axis=1)

df_max = max(max_by_columns)
print("Max element based on the list of columns: ", df_max)

df_max2 = max(max_by_rows)
print("Max element based on the list of rows: ", df_max2)

Max element based on the list of columns:  0.9960994032963317
Max element based on the list of rows:  0.9960994032963317

In [213]:
median_by_columns = residual_return_df.median()
median_by_rows = residual_return_df.median(axis=1)

df_median = statistics.median(median_by_columns)
print("Median element based on the list of columns: ", df_median)

df_median2 = statistics.median(median_by_rows)
print("Median element based on the list of rows: ", df_median2)

Median element based on the list of columns:  -0.0009572846452314701
Median element based on the list of rows:  -0.0021748297178341386

In [214]:
min_by_columns = residual_return_df.min()
min_by_rows = residual_return_df.min(axis=1)

df_min = min(min_by_columns)
print("Minimum element based on the list of columns: ", df_min)

df_min2 = min(min_by_rows)
print("Minimum  element based on the list of rows: ", df_min2)

Minimum element based on the list of columns:  -0.3995331999386784
Minimum  element based on the list of rows:  -0.3995331999386784